.dashboard{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow: auto;
}

.rightMenu{
  width: 256px;
  height: 100vh;
  position: fixed;
  top: 0;
  // transform: translateX(0);
  transform: translateX(calc(100% - 56px));
  box-shadow: -16px 0 6px 0 rgba(0, 0, 0, 0);
  transition: all cubic-bezier(0.5,0,0,1) 0.5s;
}

.rightMenuOpened{
  transform: translateX(0);
  box-shadow: 0px 0 24px 0 rgba(0, 0, 0, 0.22);
  background-color: #410057;
  z-index: 30000000;
}
$w: 56px;
.logoLotfi{
  width: $w;
  height: $w;
  min-width: $w;
  background-position: center;
  background-size: 48px;
  background-repeat: no-repeat;
  background-image: url("../assets/simple.svg");
}

.rimikLogo{
  height: 64px;
  width: 112px;
  background-position: right center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-image: url("../assets/rimik.svg");
}

.menuBtn{
  width: 56px;
  height: 56px;
  min-width: 56px;
  background-position: right center;
  background-size: 112px 56px;
  background-repeat: no-repeat;
  background-image: url("../assets/menubtn.svg");
  transition: all cubic-bezier(0.5,-1,0,2.0) 0.8s;
}

.menuBtn.open{
  background-position: left center;
}

.menuHolder{
  margin: 0;
  padding: 0;
  width: 100%;
}

.firstItem{
  height: 56px; 
  width: 100%;
  padding: 0 24px 0 0;
}

.PUT{
  background-color:#fca130;
}

.GET{
  background-color: #61affe;
}

.DELETE{
  background-color: #f93e3e;
}

.POST{
  background-color: #49cc90;
}